[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"


[dev-packages]

pylint = "*"
pudb = "*"
ipython = "*"
django-debug-toolbar = "*"
werkzeug = "*"
django-extensions = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-xdist = "*"
mock = "*"
pytest-pudb = "*"
